.page {
  min-height: 100vh;
  padding-top: 10px;
}

.main {
  display: flex;
  flex-direction: column;
}

.main:focus-visible {
  box-shadow: none;
}

.page :global(section[id]) {
  scroll-margin-top: 110px;
}
